<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring resource handling</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{{src "/css/main.css"}}">
    <script src="{{src "/lib/system.js"}}"></script>
    <script src="{{src "/config.js"}}"></script>
    <script>
        System.config({baseURL: "/{{applicationVersion}}"});
        System.import('app/app');
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 id="greeting"></h1>
    </div>
    <div id="logo"></div>
</div>

<div>
    <h2>A note on less, scss and sass... and demonstrating handlebars </h2>
    {{#hasProfile "development"}}
        <h2>In dev mode <a href="{{src "/less/style.less"}}">a LESS stylesheet is used</a> (see HTML source of this page)</h2>
        <h2>In production mode less/styles.less would, when configured, be watched and transpiled by the Spring framework to /css/style.css</h2>
    {{else}}
        <h2>In production mode <a href="{{src "/css/style.css"}}">a transpiled version of that stylesheet is used</a> (see HTML source of this page)</h2>
    {{/hasProfile}}
</div>
</body>
</html>